* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
body {
    background-color: #3A3A3A;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}
/* Header styles start */

.header .container {
    display: flex;
    justify-content: space-between;
}
.header {
    position: fixed;
    top: 0;
    height: 70px;
    padding-top: 20px;
    align-items: center;
    z-index: 3;
    width: 100%;
    transition: 200ms;
}
.header__moved {
    background-color: #2E2E2E;
    transition: 200ms;
}
.nav__options {
    display: flex;
}
.menu__navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    margin-left: 50px;
}
.menu__nav {
    height: 100vh;
}
.menu__navigation li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 48px;
}
.menu__navigation li a:hover, .menu__navigation li a:active, .menu__navigation li a:focus {
    color: #DB883A;
    transition: 200ms;
}
.menu__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu__contactsinfo {
    display: flex;
    height: 300px;
    width: 400px;
    flex-wrap: wrap;
    margin-right: 50px;
}
.email {
    height: 150px ;
    width: 200px ;
}
.email .email__link {
    text-decoration: none;
    color: #DB883A;
}
.email a:hover, .email a:focus, .email a:active {
    text-decoration: underline;
}
.phone {
    height: 150px ;
    width: 200px ;
}
.headquarter {
    height: 150px ;
    width: 200px ;
}
.showroom {
    height: 150px ;
    width: 200px ;
}
.menu__contactsinfo p a {
    color: #717171;
    font-family: 'Roboto';
    text-decoration: none;
}
.menu__contactsinfo p a:hover, .menu__contactsinfo p a:focus, .menu__contactsinfo p a:active {
    text-decoration: underline;
}
.menu__contactsinfo h5 {
    color: white;
    letter-spacing: 5px;
    font-family: 'Roboto';
    font-size: 16px;
}
.menu__socials {
    text-align: left;
    padding-top: 200px;
}
.menu__socials a {
    margin-right: 40px;
    color: white;
    font-family: 'Roboto';
    text-decoration: none;
}
.menu__socials a:hover, .menu__socials a:focus, .menu__socials a:active {
    text-decoration: underline;
}
.menu__socials a:last-child {
    margin-right: 0;
}
.menu__socials p span {
    color: white;
    font-family: 'Roboto';
}
.menu__socials p {
    color: #717171;
    font-family: 'Roboto';
}

/* Header styles end */

/* intro section styles start */

#intro__section {
    background-color: #2E2E2E;
    height: 100vh;
}
h1 {
    color: white;
    font-family: 'Roboto';
    font-size: 62px;
    width: 450px;
}
.learnmore {
    color: #DB883A;
    font-size: 18px;
    text-decoration: none;
    line-height: 70px;
    font-family: 'Roboto';
}
.learnmore:hover, .learnmore:active, .learnmore:focus {
    text-decoration: underline;
}
.intro__content {
    position: relative;
    padding-top: 200px;

}
.intro__content p {
    font-family: 'Roboto';
    color: #999999;
}
.image img {
    height: 600px;
    position: absolute;
    display: flex;
    right: 0;
    z-index: 1;
}
.info__box {
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: white;
    height: 220px;
    width: 310px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.info__box p {
    font-family: 'Roboto';
    color: #999999;
    margin-bottom: 20px;
    font-size: 14px;
}
.info__box h2 {
    color: black;
    font-family: 'Roboto';
    width: 180px;
    font-size: 22px;
}
/* intro section styles end */

/* aboutus section styles start */

#about__section {
    background-color: #3A3A3A;
    height: 100vh;
}
.about__img img {
    height: 565px;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
}
.about__img  {
    display: flex;
    right: 0;
    padding-top: 85px;

}
.line {
    background-color: rgb(150, 150, 150);
    height: 1px;
    width: 150px;
    left: 0;
    position: absolute;
    margin-top: 130px;
}
.about__content {
    width: 450px;
    position: absolute;
    margin-top: 110px;
    margin-left: 100px;
}
.about__content h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.about__content p {
    color: #999999;
    font-family: Roboto;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 15px;
}
.about__content a {
    color: #DB883A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 110px;
    margin-left: 30px;
}
.about__content a:hover, .about__content a:focus, .about__content a:active {
    opacity: 0.8;
}
/* aboutus section styles end */


/* services section styles start */

#services__section {
    background-color: #3A3A3A;
    height: 70vh;
}
.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}
.boxes img {
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
}
.boxes {
    width: 350px;
    height: 415px;
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.boxes a {
    color: #DB883A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px 0;
}
.boxes a:hover, .boxes a:active, .boxes a:focus {
    opacity: 0.8;
}
.boxes h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.boxes p {
    color:#999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 40px;
    font-size: 14px;
}

/* services section styles end */

/* works section styles start */

#works__section {
    height: 85vh;
    background: url(img/baaac.png) #2E2E2E;
    background-size: cover;

}
.works__info {
    position: absolute;
    padding-top: 90px;
    width: 500px;
}
.works__info h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 56px;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-left: 86px;
}
.works__info p {
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.works__info a {
    text-decoration: underline;
    color: #DB883A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
}
.slideshow {
    position: absolute;
    right: 0;
    padding: 90px 110px;
}

        /* Slideshow container */

.slideshow-container {
    max-width: 700px;
    position: relative;
    display: flex;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    background-color: #3A3A3A;
}

        /* Hide the images by default */
.mySlides {
    display: none;
}

        /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #2e2e2e9c;
}
        /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #3A3A3A;
}
        /* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
        /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
        /* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* works section styles end */


/* testimonal section styles start */

#testimonial__section {
    height: 40vh;
    background-color: #2E2E2E;
}
.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;

}
.testimonial h3 {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
    width: 50%;
    margin-bottom: 30px;
    margin-top: -30px;
}
.testimonial .quotes {
    font-size: 64px;
    color: #DB883A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.testimonial p {
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -30px;
}

/* testimonal section styles end */


/* blogs section styles start */

#blogs__section {
    height: 120vh;
    background-color: #3A3A3A;
}
.blog__title {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    align-items: center;
}
.blog__title h2 {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 56px;
}
.blog__title a {
    color: #DB883A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.blog__title a:hover, .blog__title a:active, .blog__title a:focus {
    opacity: 0.8;
}
.blogs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogcard {
    height: 586px;
    width: 370px;
    position: relative;
}
.blogcard a {
    color: #DB883A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3A3A3A;
    text-decoration: none;
    padding: 8px 14px;
    position: absolute;
    right: 0;
    bottom: 90px;
}
.blogcard a:hover, .blogcard a:focus, .blogcard a:active {
    text-decoration: underline;
}
.blogcard h4 {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}
.blogcard p {
    color:#999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* blogs section styles end */

/* footer section styles start */

#footer__section {
    height: 50vh;
    background-color: #2E2E2E;
}
footer {
    display: flex;
    justify-content: space-between;
}
footer h2 {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer ul li a {
    color: #999999;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer ul li a:hover, footer ul li a:focus {
    text-decoration: underline;
}
footer ul li .email__link {
    color: #DB883A;
}
footer ul li .email__link:hover, footer ul li .email__link:focus {
    text-decoration: underline;
}
footer ul li {
    margin-top: 30px;
}
.contacts p {
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.map a {
    color: #999999;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 0;
}
.map a:hover, .map a:focus, .map a:active {
    text-decoration: underline;
}
.project .project__info {
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
}
.endline {
    margin-top: 30px;
    background-color: #3A3A3A;
    width: 100%;
    height: 2px;
}
.ending {
    display: flex;
    justify-content: space-between;
}
.copyright {
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer__socials a {
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-right: 30px;
}
.footer__socials a:last-child {
    margin: 0;
}
.footer__socials a:hover, .footer__socials a:focus, .footer__socials a:active {
    text-decoration: underline;
}
.form {
    background-color: transparent;
    padding: 8px 18px;
    border: transparent;
    border-bottom: 1px solid white;
    color: white;
}
.footerform__button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #DB883A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerform__button:hover, .footerform__button:focus, .footerform__button:active {
    opacity: 0.8;
}

/* footer section styles end */















/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}
.hamburger-menu {
    display: block;
}
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    bottom: 18px;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: 200ms;
}
  .menu__btn > span::before
 {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: 200ms;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
    transition: 200ms;
}
.menu__btn > span::after {
    content: '';
    top: 8px;

}
  /* контейнер меню */
/* .menu__box li a {
    margin-left: 40px;
    color: white;
} */
.menu__box {
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #2E2E2E;
    padding-top: 20px;
  }
  .menu__logo {
      width: 1280px;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: 200ms;
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(90deg);
    transition: 200ms;
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }






















      /* media start */




    /*1450px start*/
@media screen and (max-width:1450px){
    .container {
        width: 1180px;
    }
    .line {
        width: 130px;
    }
    #blogs__section {
        height: 100vh;
    }
    .blogcard h4 {
        font-size: 22px;
    }
    .blogcard a {
        font-size: 20px;
    }
    .blogcard img {
        width: 369px;
    }
    .blogcard p {
        font-size: 18px;
    }
    .blog__title a {
        font-size: 20px;
    }
    .image img {
        width: 1120px;
        height: 700px;
    }
    .intro__content {
        z-index: 5;
        padding-top: 300px;
    }
    .intro__content p {
        font-size: 18px;
    }
    .intro__content h1 {
        font-size: 78px;
    }
    .intro__content a {
        font-size: 20px;
    }
    .header {
        z-index: 6;
    }
    .info__box {
        width: 380px;
        height: 280px;
        justify-content: center;
        display: flex;
    }
    .info__box p {
        font-size: 18px;
    }
    .info__box h2 {
        font-size: 26px;
        width: 200px;
    }
    .infobox__content {
        width: 200px;
    }
    .about__content {
        margin-left: 40px;
    }
    .about__content a {
        font-size: 18px;
    }
    .boxes img {
        height: 70px;
        width: 70px;
    }
    .boxes h2 {
        font-size: 26px;
    }
    .boxes p {
        font-size: 16px;
    }
    .boxes a {
        font-size: 18px;
    }
    #about__section {
        height: 80vh;
    }
    #services__section {
        height: 60vh;
        align-items: center;
    }
    .box {
        height: 60vh;
    }
    .works__info h2 {
        margin-left: 40px;
    }
    .works__info p {
        margin-left: 70px;
    }
    .works__info a {
        margin-left: 70px;
        font-size: 18px;
        line-height: 110px;
    }
    #works__section {
        height: 75vh;
    }
    .menu__navigation {
        width: 1140px;
    }
    .menu__nav {
        width: 1180px;
    }
    .menu__contacts {
        margin-top: 120px;
    }
    .menu__option .option {
        font-size: 26px;
        line-height: 50px;
    }
}
@media screen and (max-width:1300px){
    .container {
        width: 1080px;
    }
    .line {
        width: 130px;
    }
    #blogs__section {
        height: 120vh;
    }
    .blogcard h4 {
        font-size: 20px;
    }
    .blogcard a {
        font-size: 18px;
        bottom: 140px;
    }
    .blogcard img {
        width: 329px;
    }
    .blogcard {
        width: 330px;
    }
    .blogcard p {
        font-size: 16px;
    }
    .blog__title a {
        font-size: 20px;
    }
    .image img {
        width: 920px;
        height: 600px;
    }
    .intro__content {
        z-index: 5;
    }
    .intro__content p {
        font-size: 18px;
    }
    .intro__content h1 {
        font-size: 78px;
    }
    .intro__content a {
        font-size: 20px;
    }
    .header {
        z-index: 6;
    }
    .info__box {
        width: 360px;
        height: 240px;
        justify-content: center;
        display: flex;
    }
    .info__box p {
        font-size: 18px;
    }
    .info__box h2 {
        font-size: 26px;
        width: 200px;
    }
    .infobox__content {
        width: 200px;
    }
    .about__content {
        margin-left: 60px;
    }
    .about__content a {
        font-size: 18px;
    }
    .about__img img {
        height: 440px;
        width: 620px;
    }
    .about__img {
        padding-top: 100px;
    }
    .boxes img {
        height: 70px;
        width: 70px;
    }
    .boxes h2 {
        font-size: 26px;
    }
    .boxes p {
        font-size: 16px;
    }
    .boxes a {
        font-size: 18px;
    }
    #about__section {
        height: 80vh;
    }
    #services__section {
        height: 60vh;
        align-items: center;
    }
    .box {
        height: 60vh;
    }
    .works__info h2 {
        margin-left: 60px;
    }
    .works__info p {
        margin-left: 90px;
    }
    .works__info a {
        margin-left: 90px;
        font-size: 18px;
        line-height: 110px;
    }
    .slideshow {
        padding: 0;
    }
    #works__section {
        height: 75vh;
    }
    .menu__navigation {
        width: 1040px;
    }
    .menu__nav {
        width: 1080px;
    }
    .menu__contacts {
        margin-top: 40px;
    }
    .menu__option .option {
        font-size: 26px;
        line-height: 50px;
    }
    .testimonial h3 {
        width: 740px;
    }
    .slideshow {
        padding: 0;
        margin-top: 80px;
        right: 60px;
        max-width: 600px;
        margin-left: 55px;
    }
    .slideshow-container {
        max-width: 600px;
    }
    .mySlides {
        width: 600px;
    }
    .slideshow-container img {
        max-width: 600px;
    }
}
@media only screen and (max-width: 1100px){
    .container {
        width: 800px;
    }
    .intro__content .learnmore {
        font-size: 24px;
    }
    #testimonial__section {
        height: 25vh;
    }
    .testimonial {
        height: 25vh;
    }
    .blogs {
        flex-direction: column;
    }
    .blogcard {
        width: 330px;
        height: 500px;
    }
    .blogcard img {
        width: 329px;
        height: 400px;
    }
    .blogcard a {
        bottom: 95px;
    }
    .blogcard img:last-child {
        width: 270px;
        height: 400px;
    }
    .testimonial h3 {
        width: 90%;
    }
    .testimonial p {
        font-size: 18px;
    }
    #intro__section {
        height: 100vh;
    }
    .header {
        height: 100px;
    }
    .header__logo img {
        height: 40px;
        margin-top: 10px;
    }
    .menu__btn {
        bottom: 32px;
    }
    .menu__box .menu__logo img {
        height: 40px;
        margin-top: 10px;
    }
    #intro__section .image img {
        height: 100%;
        width: 100%;
    }
    .image {
        height: 50%;
        width: 100%;
        position: absolute;
    }
    #about__section .container {
        display: flex;
        flex-direction: column;
    }
    .about__img img {
        height: 500px;
        width:  700px;
        margin-top: 475px;
        right: auto;
    }
    .about__img {
        display: flex;
        justify-content: center;
    }
    #about__section {
        height: 80vh;
    }
    .line {
        width: 160px;
        margin-top: 110px;
    }
    .about__content h2 {
        width: 600px;
        margin-left: 0;
        font-size: 28px;
    }
    .about__content p {
        font-size: 22px;
        width: 700px;
        margin-left: 0px;
        text-align: left;
    }
    .about__content {
        margin-top: 80px;
        margin-left: 80px;
        width: 800px;
    }
    .about__content a {
        line-height: 50px;
        font-size: 26px;
        margin-left: 50px;
    }
    .info__box {
        height: 20vh;
        top: 0;
        margin-top: 80vh;
        width: 100%;
    }
    .infobox__content {
        width: 50%;
        margin: 0 auto;
    }
    .infobox__content h2 {
        width: 400px;
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
    }
    .infobox__content p {
        font-size: 26px;
        text-align: center;
    }
    .header {
        z-index: 8;
    }
    .intro__content {
        z-index: 5;
        text-align: center;
        background-color: #2e2e2e94;
        background-blend-mode: saturation;
        padding: 50px 0;
    }
    .intro__content h1 {
        font-size: 104px;
        margin: 0 auto;
        width: 700px;
    }
    .intro__content p {
        font-size: 30px;
    }
    .intro__content .learnmore {
        font-size: 32px;
        background-color: #2E2E2E;
        border: 1px solid #DB883A;
        padding: 15px 40px 20px 40px;
        border-radius: 100px;
        line-height: 140px;
        text-decoration: none;
    }
    .intro__content .learnmore:focus, .learnmore:active, .learnmore:hover {
        color: #2E2E2E;
        background-color: #DB883A;
        text-decoration: none;
    }
    .boxes {
        height: 320px;
        width: 250px;
    }
    .box {
        height: 35vh;
    }
    #services__section {
        height: 35vh;
    }
    .boxes h2 {
        font-size: 18px;
    }
    .boxes p {
    width: 90%;
    font-size: 18px;
    }
    .boxes a {
        font-size: 20px;
        margin: 10px 0;
    }
    .boxes img {
        height: 45px;
        width: 50px;
        margin-bottom: 20px;
    }
    #works__section {
        height: 80vh;
    }
    .works__content {
        flex-direction: column;
    }
    .blog__title a {
        font-size: 22px;
    }
    .blogcard p {
        font-size: 20px;
    }
    .blogcard a {
        font-size: 18px;
    }
    .works__info {
        padding-top: 80px;
    }
    .works__info h2 {
        font-size: 56px;
        margin-left: 80px;
    }
    .works__info p {
        width: 700px;
        margin-left: 80px;
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .works__info a {
        font-size: 26px;
        line-height: 65px;
        margin-left: 120px;
    }
    .slideshow {
        padding: 0;
        margin-top: 540px;
        right: auto;
        max-width: 700px;
        margin-left: 60px;
    }
    .slideshow-container {
        max-width: 700px;
    }
    .mySlides {
        width: 700px;
    }
    .slideshow-container img {
        max-width: 700px;
    }
    #blogs__section {
        height: 130vh;
    }
    .footer__list {
        display: none;
    }
    footer {
        height: 20vh;
    }
    #footer__section {
        height: 30vh;
    }
    .menu__nav {
        height: 80vh;
    }
    .menu__navigation {
        width: 800px;
    }
    .phone {
        height: 75px ;
        width: 160px;
    }
    .menu__contacts {
        margin-top: 375px;
    }
    .menu__option .option {
        font-size: 42px;
        line-height: 78px;
    }
    .phone h5 {
        font-size: 16px;
    }
    .email {
        height: 75px ;
        width: 160px;
    }
    .email h5 {
        font-size: 16px;
    }
    .showroom {
        height: 75px ;
        width: 160px;
    }
    .showroom h5 {
        font-size: 16px;
    }
    .menu__socials {
        width: 350px;
    }
    .menu__socials p {
        font-size: 20px;
        width: 100%;
    }
    .menu__navigation {
        margin-left: 0px;
    }
    .menu__contactsinfo {
        width: 420px;
        height: 300px;
        margin: 0;
        align-items: center;
        justify-content: space-between;
    }
    .headquarter {
        height: 75px ;
        width: 160px;
    }
    .headquarter h5 {
        font-size: 16px;
    }
    .menu__contacts {
        width: 800px;
    }
    .line {
        margin-top: 120px;
    }
    .intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 800px){
    .container {
        width: 675px;
    }
    .intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro__content .learnmore {
        font-size: 22px;
    }
    .blogs {
        flex-direction: column;
    }
    #about__section {
        height: 100vh;
    }
    .blogcard {
        width: 330px;
        height: 500px;
    }
    .menu__nav {
        height: 80vh;
    }
    .menu__navigation {
        width: 520px;
    }
    .phone {
        height: 75px ;
        width: 160px;
    }
    .menu__contacts {
        margin-top: 100px;
    }
    .menu__option .option {
        font-size: 42px;
        line-height: 78px;
    }
    .phone h5 {
        font-size: 14px;
    }
    .email {
        height: 75px ;
        width: 160px;
    }
    .email h5 {
        font-size: 14px;
    }
    .showroom {
        height: 75px ;
        width: 160px;
    }
    .showroom h5 {
        font-size: 14px;
    }
    .menu__socials {
        width: 275px;
    }
    .menu__socials p {
        font-size: 18px;
        width: 80%;
    }
    .menu__navigation {
        margin-left: 0px;
    }
    .menu__contactsinfo {
        width: 320px;
        height: 300px;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .blog__title h2 {
        font-size: 42px;
    }
    .headquarter {
        height: 75px ;
        width: 160px;
    }
    .headquarter h5 {
        font-size: 14px;
    }
    .menu__contacts {
        width: 600px;
    }
    .blogcard img {
        width: 330px;
        height: 400px;
    }
    .blogcard img:last-child {
        width: 270px;
        height: 400px;
    }
    .testimonial h3 {
        width: 90%;
    }
    .testimonial p {
        font-size: 18px;
    }
    #intro__section {
        height: 100vh;
    }
    #intro__section .image img {
        height: 50%px;
        width: 100%px;
    }
    #about__section .container {
        display: flex;
        flex-direction: column;
    }
    .about__img img {
        height: 400px;
        width:  600px;
        margin: 475px 0 0 0;
        right: auto;
    }
    .intro__content h1 {
        font-size: 64px;
    }
    .line {
        width: 80px;
        margin-top: 110px;
    }
    .about__content h2 {
        width: 600px;
    }
    .about__content p {
        font-size: 22px;
        width: 612px;
        text-align: left;
    }
    .about__content {
        margin-top: 70px;
        margin-left: 50px;
        width: 500px;
    }
    .about__content a {
        line-height: 25px;
        font-size: 26px;
        margin: 0;
    }
    .info__box {
        height: 20vh;
        top: 0;
        margin-top: 80vh;
    }
    .info__box h2 {
        text-align: center;
    }
    .info__box p {
        margin: 0 auto;
        width: 400px;
    }
    .infobox__content {
        width: 400px;
    }
    .about__img {
        padding-top: 120px;
    }
    .header {
        z-index: 8;
    }
    .intro__content {
        z-index: 5;
    }
    .boxes {
        height: 280px;
        width: 220px;
    }
    .box {
        height: 35vh;
    }
    #services__section {
        height: 35vh;
    }
    .boxes h2 {
        font-size: 18px;
    }
    .boxes p {
        width: 90%;
        font-size: 18px;
    }
    .boxes a {
        font-size: 20px;
        margin: 10px 0;
    }
    .boxes img {
        height: 45px;
        width: 50px;
        margin-bottom: 20px;
    }
    #works__section {
        height: 100vh;
    }
    .works__content {
        flex-direction: column;
    }
    .intro__content h1 {
        width: 500px;
    }
    .works__info p {
        margin-left: 50px;
        width: 600px;
    }
    .blog__title a {
        font-size: 22px;
    }
    .blogcard p {
        font-size: 20px;
    }
    .blogcard a {
        font-size: 18px;
    }
    .works__info {
        padding-top: 80px;
    }
    .works__info h2 {
        font-size: 42px;
        margin-left: 50px;
    }
    .works__info p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .works__info a {
        font-size: 26px;
        line-height: 50px;
        margin-left: 50px;
    }
    .blog__title {
        padding: 50px 0;
    }
    .slideshow {
        padding: 0;
        margin-top: 550px;
        right: 80px;
        max-width: 600px;
    }
    .slideshow-container {
        max-width: 600px;
    }
    .mySlides {
        width: 600px;
    }
    .slideshow-container img {
        max-width: 600px;
    }
    #blogs__section {
        height: 165vh;
    }
    .footer__list {
        display: none;
    }
    footer {
        height: 30vh;
    }
    #footer__section {
        height: 40vh;
    }
}

@media screen and (max-width: 400px){
    .container {
        width: 325px;
    }
    .header__logo img {
        height: 30px;
    }
    .image {
        height: 50%;
        width: 100%;
        position: absolute;
    }
    .menu__btn {
        bottom: 26px;
        right: 30px;
    }
    .blogs {
        flex-direction: column;
    }
    #about__section {
        height: 125vh;
    }
    .blogcard {
        width: 280px;
        height: 500px;
    }
    .intro__content {
        width: 300px;
        margin: 0 auto;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #4d4d4da4;
        border-radius: 90px 0 90px 0;
    }
    .intro__content h1 {
        width: 300px;
        font-size: 36px;
    }
    .intro__content p {
        font-size: 16px;
        line-height: 50px;
    }
    .intro__content .learnmore {
        font-size: 16px;
        padding: 15px 40px;
        background-color: #4d4d4d;
    }
    .menu__nav {
        height: 80vh;
    }
    .menu__navigation {
        width: 100%;
    }
    .phone {
        height: 55px ;
        width: 100px;
    }
    .menu__contacts {
        margin-top: 0px;
    }
    .menu__option .option {
        font-size: 32px;
        line-height: 68px;
    }
    .phone h5 {
        font-size: 10px;
    }
    .phone p {
        font-size: 13px;
    }
    .email {
        height: 55px ;
        width: 100px;
    }
    .email h5 {
        font-size: 10px;
    }
    .intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .email p {
        font-size: 14px;
    }
    .menu__logo {
        width: 100px;
    }
    .menu__box .menu__logo a img {
        height: 30px;
    }
    .showroom {
        height: 55px ;
        width: 100px;
        margin-top: -60px;
    }
    .showroom h5 {
        font-size: 10px;
    }
    .showroom p {
        font-size: 13px;
    }
    .menu__socials {
        width: 40%;
        padding: 0;
    }
    .menu__socials p {
        font-size: 18px;
        width: 80%;
    }
    .menu__navigation {
        margin-left: 0px;
    }
    .menu__contactsinfo {
        width: 230px;
        height: 300px;
        margin: 0;
        justify-content: space-around;
        align-items: center;
    }
    .blog__title h2 {
        font-size: 42px;
    }
    .menu__nav {
        height: 100vh;
    }
    .menu__socials a {
        margin-right: 15px;
    }
    .menu__socials {
        margin-top: 180px;
    }
    .menu__socials a {
        width: 100%;
        font-size: 16px;
    }
    .menu__socials p {
        width: 100%;
        font-size: 12px;
    }
    .menu__socials p span a {
        font-size: 12px;
    }
    .headquarter {
        height: 55px ;
        width: 100px;
        margin-top: -60px;
    }
    .headquarter h5 {
        font-size: 10px;
    }
    .headquarter p {
        font-size: 13px;
    }
    .menu__contacts {
        width: 100%;
    }
    .blogcard img {
        width: 278px;
        height: 400px;
    }
    .blogcard img:last-child {
        width: 280px;
        height: 400px;
    }
    #testimonial__section {
        height: 40vh;
    }
    .testimonial {
        height: 40vh;
    }
    .testimonial h3 {
        width: 100%;
        font-size: 20px;
    }
    .testimonial p {
        font-size: 16px;
    }
    #intro__section {
        height: 100vh;
    }
    #intro__section .image img {
        height: 60%;
        width: 100%;
        padding-left: 0px;
    }
    .header {
        height: 90px;
    }
    #about__section .container {
        display: flex;
        flex-direction: column;
    }
    .about__img img {
        height: 230px;
        width:  325px;
        margin: 475px 0 0 0;
        right: auto;
    }
    .blog__title {
        width: 100%;
    }
    .blog__title h2 {
        font-size: 26px
    }
    .line {
        width: 30px;
        margin-top: 110px;
    }
    .about__content h2 {
        width: 300px;
        font-size: 18px;
    }
    .about__content p {
        font-size: 16px;
        width: 100%;
        text-align: left;
    }
    .about__content {
        margin-top: 80px;
        width: 300px;
        margin-left: 20px;
    }
    .info__box p {
        width: 300px;
        font-size: 16px;
    }
    .infobox__content {
        width: 300px;
    }
    .info__box h2 {
        width: 300px;
        font-size: 26px;
    }
    .about__content a {
        line-height: 40px;
        font-size: 18px;
    }
    .info__box {
        height: 30vh;
        top: 0;
        margin-top: 70vh;
    }

    .header {
        z-index: 8;
    }
    .intro__content {
        z-index: 5;
    }
    .boxes {
        height: 300px;
        width: 230px;
    }
    .box {
        height: 140vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #services__section {
        height: 140vh;
    }
    .boxes h2 {
        font-size: 18px;
    }
    .boxes p {
        width: 90%;
        font-size: 18px;
    }
    .boxes a {
        font-size: 20px;
        margin: 10px 0;
    }
    .boxes img {
        height: 45px;
        width: 50px;
        margin-bottom: 20px;
    }
    #works__section {
        height: 125vh;
    }
    .works__content {
        flex-direction: column;
    }
    .blog__title a {
        font-size: 18px;
    }
    .blogcard p {
        font-size: 20px;
    }
    .blogcard a {
        font-size: 18px;
    }
    .works__info {
        padding-top: 90px;
        width: 300px;
        margin-left: -30px;
    }
    .works__info h2 {
        font-size: 26px;
    }
    .works__info p {
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;
        font-size: 16px;
    }
    .works__info a {
        font-size: 18px;
        line-height: 75px;
    }
    .slideshow {
        padding: 0;
        margin-top: 575px;
        right: 27px;
        max-width: 340px;
    }
    .slideshow-container {
        max-width: 340px;
    }
    .mySlides {
        width: 340px;
    }
    .slideshow-container img {
        max-width: 340px;
    }
    #blogs__section {
        height: 240vh;
    }
    .footer__list {
        display: none;
    }
    footer {
        height: 50vh;
    }
    #footer__section {
        height: 65vh;
    }
    .project .footer__form input {
        width: 200px;
    }
    .ending {
        width: 100%;
        margin-top: 20px;
    }
    .project .project__info {
        width: 100%;
    }
    .project li h2 {
        width: 100%px;
    }
    .contacts {
        width: 100%;
    }
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .copyright p {
        font-size: 12px;
    }
    .footer__socials a {
        font-size: 12px;
    }
    .endline {
        margin-top: 40px;
    }
}
    /*1450px end*/







    /* media end */